//- Navigation multi-level
mixin main-menu(data)
  nav.main-menu&attributes(attributes)
    ul.row
      each item, i in data
        if i === pageId
          li.main-menu__item.main-menu__item_active
            a(href=item.url).main-menu__link= item.title
            if (item.submenu !== false)
              +main-menu-submenu(item.submenu)
        else
          li.main-menu__item
            a(href=item.url).main-menu__link= item.title
            if (item.submenu !== false)
              +main-menu-submenu(item.submenu)
mixin main-menu-submenu(data)
  ul.main-menu__sub-menu.animated.fadeIn&attributes(attributes)
    each item, i in data
      if i === subId
        li.main-menu__sub-menu__item.main-menu__sub-menu__item_active
          a(href=item.url).main-menu__sub-menu__link= item.title
      else  
        li.main-menu__sub-menu__item
          a(href=item.url).main-menu__sub-menu__link= item.title


//- Navigation menu
mixin nav(items)
  nav.main-menu
    ul.menu
      each item, i in items
        if i === pageId
          li.menu__item.menu__item_active
            a.menu__link(href=item.href)= item.name
        else
          li.menu__item
            a.menu__link(href=item.href)= item.name


//- Sandwitch
mixin sandwitch()
  button.toggle-menu.jsTag
    .sandwitch
      span.sw-topper
      span.sw-bottom
      span.sw-footer


//- Bread
mixin bread-crumbs(data)
  .bread-crumbs
    ul
      each ent, num in data
        if (num+1 < data.length)
          li.bread-crumbs__item 
            a(href="#").bread-crumbs__link= ent
            .bread-crumbs__separator /
        else
          li.bread-crumbs__item= ent


//- Heading
mixin heading(item)
  if item[0]= item[0]
    h2.section__content-h2= item[0]
  if item[1]= item[1]
    .section__content-text
      p= item[1]
      if item[2]= item[2]
        p= item[2] 
          if item[3]= item[3]
            a(href='mailto:')= item[3]


//- Acordion
mixin acordion(items)
  ul.jsNavgoco.acordion
    each item in items
      li.acordion__item 
        a(href='#').acordion__link= item.title
        ul.acordion__sub-item
          h3= item.heading
          span= item.span1
          span= item.span2
          span= item.span3
          p= item.text
          p= item.text


//- Pagination
mixin pagination
  .pagination
    ul
      li
        a(href="") 1
      li
        a(href="") 2
      li.active
        a(href="") 3
      li
        a(href="") 4
      li
        a(href="") 5
      li ...
      li
        a(href="") 100
      li.previous_page.disabled
        a(href="") Назад
      li.next_page 
        a(href="") Далее


//- slider 
mixin slider()
  .section__head__slider
    .bx-slider-1
      .slide.slide-2
      .slide.slide-3
      .slide.slide-4


//- header menu 
mixin header-menu()
  .header-wrapper
    .header__responsive.row.between
      .header__mobile-menu
        +sandwitch()
      .header__responsive__phone  
        .header__responsive__str (8172) <span>70-41-70</span>
    header.header 
      .container-wrapper
        .row.between
          .col__18.row
            a(href="").header__logo
            .header__title
              span Агентство 
              span недвижимости
              span в Вологде
          .col__82
            .header__top.row.between
              .col__50
                p Агентство недвижимости. Покупка, продажа комнат, квартир в Вологде, Череповце и Вологодской области
              .col__50
                .header__top__phone.row.center.end
                  .header__top__icon
                  .header__right
                    span.str24 (8172) 70-41-70
                    a(href='').button.button_xs Заказать звонок
            .header__bottom
              +main-menu([
                {
                  title: 'Новостройки',
                  url: 'new-buildings.html',
                  submenu: false
                },
                {
                  title: 'Каталог',
                  url: 'catalog.html',
                  submenu: false
                },
                {
                  title: 'Услуги',
                  url: 'serveces.html',
                  submenu: false
                },
                {
                  title: 'Отзывы',
                  url: 'reviews.html',
                  submenu: false
                },
                {
                  title: 'Блог',
                  url: 'blog.html',
                  submenu: false
                },
                {
                  title: 'О компании',
                  url: 'about.html',
                  submenu: false
                }
              ])
    .section__head.jsParent
      .container-wrapper
        .section__head__title Купить квартиру в Вологде
        .section__head__tabs.row
          span.jsTab.active Купить 
          span.jsTab Продать
          span.jsTab Оценить
        .section__head__content-wrapper
          .section__head__content.jsCont.active.animated.fadeInUp
            form(action="").row.center
              input(type="text", placeholder='Введите адрес').form__input.form__input_reset.form__input_search
              input.button.form__input_reset.button_search(type='submit', value='Купить!')
          .section__head__content.jsCont.animated.fadeInUp
            form(action="").row.center
              input(type="text", placeholder='Введите адрес').form__input.form__input_reset.form__input_search
              input.button.form__input_reset.button_search(type='submit', value='Продать!')
          .section__head__content.jsCont.animated.fadeInUp
            form(action="").row.center
              input(type="text", placeholder='Введите адрес').form__input.form__input_reset.form__input_search
              input.button.form__input_reset.button_search(type='submit', value='Оценить!')
    +slider()


//- header menu 
mixin header-menu-2()
  .header-wrapper
    .header__responsive.row.between
      .header__mobile-menu
        +sandwitch()
      .header__responsive__phone  
        .header__responsive__str (8172) <span>70-41-70</span>
    header.header 
      .container-wrapper
        .row.between
          .col__18.row
            a(href="").header__logo
            .header__title
              span Агентство 
              span недвижимости
              span в Вологде
          .col__82
            .header__top.row.between
              .col__50
                p Агентство недвижимости. Покупка, продажа комнат, квартир в Вологде, Череповце и Вологодской области
              .col__50
                .header__top__phone.row.center.end
                  .header__top__icon
                  .header__right
                    span.str24 (8172) 70-41-70
                    a(href='').button.button_xs Заказать звонок
            .header__bottom
              +main-menu([
                {
                  title: 'Новостройки',
                  url: 'new-buildings.html',
                  submenu: false
                },
                {
                  title: 'Каталог',
                  url: 'catalog.html',
                  submenu: false
                },
                {
                  title: 'Услуги',
                  url: 'serveces.html',
                  submenu: false
                },
                {
                  title: 'Отзывы',
                  url: 'reviews.html',
                  submenu: false
                },
                {
                  title: 'Блог',
                  url: 'blog.html',
                  submenu: false
                },
                {
                  title: 'О компании',
                  url: 'about.html',
                  submenu: false
                }
              ])
